---
import { Icon } from 'astro-icon/components';
import Badge from './Badge.astro';

interface Props {
   name: string;
   isActive?: boolean;
   description: string;
   img: ImageMetadata;
   highlights: string[];
   github?: string | null;
   url?: string | null;
}

const { name, description, img, highlights, github, url, isActive } =
   Astro.props;
---

<div
   class="group/proyecto block overflow-hidden max-w-sm rounded h-full bg-background-card"
>
   <img
      loading="lazy"
      decoding="async"
      src={img.src}
      alt=""
      class="h-64 w-full object-cover transition duration-500 group-hover/proyecto:scale-105"
   />

   <div class="p-6">
      <div class="flex flex-wrap gap-2 mb-4">
         {
            highlights.map((highlight) => (
               <Badge text={highlight} class=" capitalize" />
            ))
         }
      </div>
      <div class="flex items-center gap-x-2 mt-1.5">
         <h3 class="text-md md:text-lg font-semibold text-primary">
            {name}
         </h3>
         <Icon
            name="circle"
            size={9}
            class:list={[
               { 'text-secondary': !isActive },
               { 'text-green-500': isActive },
            ]}
         />
      </div>

      <p class="mt-1.5 text-secondary text-[13px] transition-all">
         {description}
      </p>

      <div class="mt-4 flex gap-4">
         {
            github && (
               <a
                  href={github}
                  title={`Repositorio del proyecto ${name}`}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="group/enlace flex items-center gap-3 rounded-lg px-4 py-3 transition-all duration-300 hover:scale-105 bg-background-card border border-border hover:border-third hover:bg-[rgba(255, 137, 4, 0.05)]"
               >
                  <Icon
                     name="github"
                     class="h-5 w-5 transition-colors group-hover/enlace:text-white text-third"
                  />
                  <span class="font-medium transition-colors group-hover/enlace:text-white text-primary">
                     Código
                  </span>
               </a>
            )
         }

         {
            url && (
               <a
                  href={url}
                  target="_blank"
                  title={`Visualizacion del proyecto ${name}`}
                  rel="noopener noreferrer"
                  class="group flex items-center gap-3 rounded-lg px-4 py-3 transition-all duration-300 hover:scale-105 bg-background-card border border-border hover:border-third hover:bg-[rgba(255, 137, 4, 0.05)]"
               >
                  <Icon
                     name="link"
                     class="h-5 w-5 transition-colors group-hover:text-white text-third"
                  />
                  <span class="font-medium transition-colors group-hover:text-white text-primary">
                     Preview
                  </span>
               </a>
            )
         }
      </div>
   </div>
</div>
